body {
	font-family: sans-serif;
	text-align: center;
}
#btn-play-war {
	padding: 10px 0px;
	width: 280px;
	margin: 0px auto;
	text-align: center;
	background: #87b9ff;
	color: #ffffff;
}
#btn-play-war:hover {
	cursor: pointer;
}
#war-output {
	padding: 5px;
	display: inline-block;
	text-align: left;
}